.header
{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    color: #FFF;
    background: #141414;
}

.nav
{
    display: flex;
    padding: 20px;
}

.header__logo
{
    font-size: 1.75rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
}
.header__icon
{
    font-size: 2.25rem;
}