.sidebar
{
    padding: 30px;
    border-right: 1px solid #CCC;
}

.sidebar__list
{
    position: sticky;
    top: 90px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sidebar__item
{
    font-size: 1rem;
    font-weight: 700;
}
.sidebar__link
{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: rgba(0, 0, 0, 0.5);
    fill: rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
    transition: all linear .2s;
}
.sidebar__link:hover
{
    color: #000;
    fill: #000;
}
.sidebar--active
{
    color: #000;
    fill: #000;
}
.sidebar__icon
{
    font-size: 1.125rem;
}
